:root {
    --green: #0F8277;
    --text-color: #000;
    --white-text: #fff;
    --bg-lightgreen: #DBF3ED;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
li {
    list-style: none;
}
.container {
    width: 1368px;
    margin: 0 auto;
}
.header {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
}
.logo {
    text-decoration: none;
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}
.right-wrapper {
    display: flex;
    align-items: center;
    gap: 104px;
}
.right-wrapper-buttons {
    display: flex;
    gap: 16px;
}
.header-menu-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.left-wrapper {
    display: flex;
    align-items: center;
    gap: 44px;
}
.searchbar-container {
    display: flex;
    position: relative;
}
.searchbar {
    color: #5C5C5C;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    width: 330px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
}

.search-icon {
    background-color: #0F8277;
    position: absolute;
    right: 0;
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
}
.explore-button, .start-learning, .contact-sales, .get-started-first, .get-started-second, .get-started-third {
    border: none;
    background-color: #0F8277;
    border-radius: 4px;
    padding: 10px 12px;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.explore-button {
    position: relative;
    padding-right: 28px;
}
.explore-button::after {
    content: "";
    background: url(../img/arrow\ down.png);
    width: 10px;
    height: 15px;
    position: absolute;
    right: 12px;
}

.select-wrap {
    display: none;
}
.select-list-item {
    display: flex;
    padding-bottom: 16px;
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.corporate-training{
    position: relative;
    padding-bottom: 40px;
}
.corporate-training::before {
    content: "";
    height: 1px;
    width: 100%;
    border-radius: 100px;
    background-color: var(--text-color);
    bottom: 0;
    position: absolute;
}
.select-list-heading {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 24px;
}
.explore-button:hover + .select-wrap {
    display: flex;
    gap: 40px;
    width: 384px;
    padding: 16px 12px 33px 12px;
    flex-direction: column;
    position: absolute;
    bottom: 72px;
    left: 263px;
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.login-button {
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #fff;
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.signup-button {
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.login-button-link, .learn-more-link {
color: var(--green);
}
.signup-button-link, .start-learning-link, .get-started-link {
    color: var(--white-text);
}
.learning {
    display: flex;
    background-color: #DBF3ED;
    padding-top: 30px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}
.learn-comfortable {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
h1 {
    color: var(--text-color);
    font-family: Quicksand;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
}
p.learn-text {
    color: var(--text-color);
    font-family: Quicksand;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        width: 482px;
}
.learn-buttons {
    display: flex;
    gap: 24px;
}
button.learn-more {
    color: var(--green);
    background-color: transparent;
    border: 2px solid var(--green);
    padding: 10px 12px;
    border-radius: 4px;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.section-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section-heading-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.section-name {
    color: var(--green);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.section-heading, .business-content-heading, .price-cards-heading, .student-photos-heading, .form-heading {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.section-text {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.school-types, .course-types {
    display: flex;
    justify-content: space-between;
}
img.danit-office, .projector-office, .eu-office {
    width: 415px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.school-logo-descr {
        display: flex;
        gap: 12px;
        align-items: center;
}
.school-card-content {
    padding: 24px 16px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.school-danit, .school-european-university, .school-projector-institute {
    border: 1px solid #dadada;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 416px;
}
.danit-school-wrapper, .projector-school-wrapper, .eu-school-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.danit-descr, .eu-descr, .projector-descr {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.logo-descr {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.get-diploma {
    display: flex;
    gap: 12px;
}
.get-diploma-text {
    color: var(--green);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.ui-ux-course, .fullstack-course, .qa-course, .smm-course {
    width: 306px;
    border: 1px solid #dadada;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.course-card-img {
    width: 305px;
    /* border: 1px solid #dadada; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
a.more-courses {
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.topics-by-category {
    padding-top: 80px;
}
.topics-list {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.design-menu, .development-menu, .it-software-menu, .business-menu {
    display: flex;
    flex-direction: column;
    width: 306px;
    gap: 32px;
}
.design-menu-item, .it-menu-item, .development-menu-item, .business-menu-item {
    display: flex;
    flex-direction: column;
}
.design-item-name, .it-item-name, .development-item-name, .business-item-name {
    color: var(--green);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.design-item-students, .it-item-students, .development-item-students, .business-item-students {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.design-menu-heading, .it-menu-heading, .development-menu-heading, .business-menu-heading {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.partners, .price-cards {
    background-color: var(--bg-lightgreen);
    padding: 80px 36px;
    margin-top: 80px;
}
.partners-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
h2.partners-text {
    color: var(--text-color);
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 871px;
    align-self: center;
}
.partners-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.business-section {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    align-items: center;
}
.business-organisations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.business-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    width: 636px;
}
.organisation-logo-wrap {
    width: 176px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.business-content-text {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    width: 568px;
}
.organisation-logo-wrap:nth-child(-n+2) {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}
.organisation-logo-wrap:nth-child(3) {
    border-bottom: 1px solid #BABABA;
}
.organisation-logo-wrap:nth-child(4) {
    border-right: 1px solid #BABABA;
}
.organisation-logo-wrap:nth-child(6) {
    border-left: 1px solid #BABABA;
}
.organisation-logo-wrap:nth-child(7) {
    border-right: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}
.organisation-logo-wrap:nth-child(8) {
    border-top: 1px solid #BABABA;
}
.organisation-logo-wrap:nth-child(9) {
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}
.price-card {
    padding: 56px;
    width: 416px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}
.price-card-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.price-cards-heading {
    text-align: center;
    padding-bottom: 40px;
}
.card-title, .card-title-center{
    width: 304px;
    /* height: 286px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    position: relative;
}

.card-heading {
    color: var(--text-color);
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.card-text {
    color: var(--text-color);
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.price-wrap {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.price {
    color: var(--text-color);
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.per-month {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}
.get-started-first {
    margin-top: 48px;
    margin-bottom: 48px;
}
.get-started-second {
    margin-bottom: 48px;
}
.get-started-third {
    margin-top: 20px;
    margin-bottom: 48px;
}
.privileges-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 22px;
    padding-top: 48px;
}
.privileges-list-item {
    list-style-image: url(../img/bullit.png);
    padding-left: 16px;
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.card-title::before {
    content: "";
    width: 304px;
    height: 1px;
    background-color: var(--green);
    position: absolute;
    bottom: 0;
}
.card-title-center::before {
    content: "";
    width: 304px;
    height: 1px;
    background-color: var(--white-text);
    position: absolute;
    bottom: 0;
}
.button-get-started {
    display: flex;
    align-items: flex-end;
}
.price-card.center {
    padding: 56px;
    width: 416px;
    border-radius: 24px;
    border: 1px solid var(--green);
    background: var(--green);
}
.white {
    color: var(--white-text);
}
.list {
    list-style-image: url(../img/bullit\ \(1\).png);
}
.get-started-second {
    color: var(--white-text);
    border: 1px solid var(--white-text) ;
}
.students-photos-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
}
.photos-grid {
    display: grid;
    width: 1296px;
    height: 678.5px;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 210.5px);
    grid-template-areas: "one two two three"
                         "four two two five"
                         "six seven eight nine";
    column-gap: 24px;
    row-gap: 24px;
}
.student-photo-one {
    grid-area: one;
}
.student-photo-big {
    grid-area: two;
}
.student-photo-three {
    grid-area: three;
}
.student-photo-four {
    grid-area: four;
}
.student-photo-five {
    grid-area: five;
}
.student-photo-six {
    grid-area: six;
}
.student-photo-seven {
    grid-area: seven;
}
.student-photo-eight {
    grid-area: eight;
}
.student-photo-nine {
    grid-area: nine;
}
.photo {
    width: 306px;
    height: 210.5px;
}
.student-photo-big {
    width: 636px;
    height: 445px;
}
.form-container {
    height: 725px;
    flex-shrink: 0;
    background: url(../img/image\ 32.png);
    position: relative;
    margin-top: 77px;
}
.form-container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.form-wrap {
    width: 565px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 24px;
    background-color: var(--bg-lightgreen);
    gap: 24px;
}
.form-text {
    color: var(--text-color);
    width: 505px;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
label {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    gap: 8px;
}
input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}
textarea {
    resize: none;
    height: 104px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}
.form-button {
    width: 196px;
    padding: 10px 12px;
    color: white;
    background-color: var(--green);
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}
footer {
    display: flex;
    padding: 64px 32px;
    justify-content: space-between;
}
.footer-left, .footer-right {
    width: 306px;
}
.footer-left-heading {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}
.footer-left-text, .footer-right-text {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
}
.social-media {
    display: flex;
    gap: 24px;
}
.instagram-logo {
    background-image: url(../img/Instagram.png);
    width: 32px;
    height: 32px;
}
.facebook-logo {
    background-image: url(../img/Facebook.png);
    width: 32px;
    height: 32px;
}
.linkedin-logo {
    background-image: url(../img/Linkedin.png);
    width: 32px;
    height: 32px;
}